@import '@styles/variables.scss';

.header {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 66px;
  left: 52px;
  width: 728px;
}

.title {
  font-size: 16px;
  margin-left: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  color: $main-color-1;
  flex: 1;
}

.option_btn {
  font-size: 11px;
  letter-spacing: -1px;
  b {
    color: #ff6400;
  }
}
