@import '@styles/variables.scss';

.section_title {
  display: flex;
  align-items: center;
  color: $main-color-1;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #aaa;

  .subtitle {
    font-size: 10px;
    color: #000;
    font-weight: 300;
    margin-left: 6px;
  }

  .diary {
    font-size: 13px;
    letter-spacing: -1px;
    padding-left: 7px;
    margin-left: 7px;
    position: relative;
    &:before {
      content: '';
      height: 80%;
      width: 1.5px;
      top: 3px;
      left: 0;
      background: $main-color-1;
      position: absolute;
    }
  }
}
