$main-color-1: #55b2d4;
$main-color-2: #298eb5;
$main-color-3: #0f465e;

$gray-color-1: #666666;
$gray-color-2: #999999;
$gray-color-3: #d7dee2;
$gray-color-4: #d9d9d9;
$gray-color-5: #dddddd;

$red-color-1: #ff0000;
$red-color-2: #ee3e61;

$yellow-color-1: #ffc900;
