.latest_diary h2 {
  margin-right: -13px;
}

.diary_list {
  margin-top: 3px;
  margin-left: 3px;
  li {
    font-size: 12px;
    display: flex;
    align-items: center;
    img {
      width: 35px;
      margin-right: 5px;
    }
    & + li {
      margin-top: 5px;
    }
  }
}
