.games {
}

.game_section {
  width: 222px;
  height: 165px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #f6f6f6;
  padding: 20px 0px;
  text-align: center;

  &.wordchain {
  }
  &.lotto {
    margin-top: 30px;
  }
}
