@import '@styles/mixins.scss';

.word_chain {
  h3 {
    margin-top: 6px;
  }
  p {
    margin: 6px 0 8px;
  }
  span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -1.2px;
  }
  .input_wrap {
    display: flex;
    padding: 0 13px;
    margin-bottom: 7px;

    input {
      font-size: 12px;
      margin-right: 8px;
      background-color: white;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 3px 5px;
      outline: none;
      flex: 1;
      &::placeholder {
        font-size: 11px;
      }
    }

    button {
      @include btn;
      padding: 5px 8px;
    }
  }
}
