@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.lotto {
  h3 {
    margin-top: 6px;
  }
  ul {
    display: flex;
    width: 130px;
    height: 22px;
    margin: 5px auto;
    align-items: center;
    justify-content: space-between;
    background-color: $yellow-color-1;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 0px 7px;
    li {
      font-size: 11px;
      font-weight: 600;
    }
  }

  button {
    @include btn;
    letter-spacing: -0.3px;
  }
}
