.bg {
  width: 1204px;
  height: 600px;
  background: #a0a0a0;
  background-image: linear-gradient(#919191 1.2px, transparent 1.2px),
    linear-gradient(90deg, #919191 1.2px, transparent 1.2px);
  background-size: 16px 16px;
}

.innerbox {
  background-image: url('/images/innerbox.png');
  background-position: 20px 20px;
  background-size: 808px 544px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
